# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env           # root env
.env.*         # root env with extensions like .env.production
.env*.local    # optional local variations
api/.env       # inside api folder
api/.env.*     # inside api folder with extensions
# typescript
*.tsbuildinfo

.vercel
